.CardBack {
  display: flex;
  justify-content: center;
  align-items: center;
}

.CardBack img {
  width: 80%;
  height: auto;
}

.hidden {
  opacity: 0.2;
  background-color: rgb(231, 231, 231); 
  pointer-events: none;
}